* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #1b0b2e, #0d0318);
  color: white;
}
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: hsl(307, 100%, 65%);
}

.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.btn-gradient {
  background: linear-gradient(to right, #FFD700, #FD28CF, #8F5BFF);
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-gradient:hover {
  transform: scale(1.05);
}

.btn-outline {
  background: transparent;
  border: 1.5px solid #00D2A0;
  padding: 12px 24px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger {
  width: 28px;
  display: none;
}

.hero {
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.microphn {
  position: absolute;
  width: 10px;
height: 17px;
  left: 77px;
  bottom: 65px;
  margin-top: -180px;
}

.hero-content {
  max-width: 600px;
}

.circle-wrapper {
  position: relative;
  display: inline-block;
}

.microphn img {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-circle {
  width: 160px;
  border-radius: 50%;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background: #3cff6a;
  color: black;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
}

.hero h1 {
  margin-top: 20px;
  font-size: 48px;
}

.hero p {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}
.btnn{
display: inline-flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
gap: 8;
padding: 12px 20px 12px 20px;
}
.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: center;
 
}
/* About */
.about {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
  text-align: center;
}

.about h2 {
  font-size: 32px;
}

.about-text {
  margin-top: 15px;
  color: #ccc;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.about>new line{
  display: block;
  margin-top: 15px;
}

.stats {
  border: 2px;
  padding: 5px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.stat h3 {
  color: #3cff6a;
  font-size: 28px;
}

.stat p {
  font-size: 13px;
  color: #aaa;
}
.features {
  max-width: 1200px;
  margin: auto;
  padding: 120px 200px;
}

.features h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: 700;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.feature-card {
  background: #2a0f47;
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
}
.feature-card img {
  width: 32px;  
  margin-bottom: 18px;
}
.feature-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.feature-card p {
  font-size: 14px;
  line-height: 1.7;
  color: #bca0dc;
}
.card-1 {
  grid-row: span 2;
}

.card-4 {
  grid-column: span 2;
}

@media (max-width: 992px) {
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-1,
  .card-4 {
    grid-row: auto;
    grid-column: auto;
  }
}

@media (max-width: 576px) {
  .feature-grid {
    grid-template-columns: 1fr;
  }
}




